<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SportsStore.DomainModel.Properties.Settings.SportsStoreConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=SportsStoreLF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>